* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}

dialog {
  width: 400px;
  border: none;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 8px;

  z-index: 10;
}
